TERMINAL_PORT=4000
EDITOR_PORT=5000
PROJECTS_DIR="../projects"
SANDBOX_MODE=docker

DOCKER_HOST=unix:///var/run/docker.sock

# Docker rootless:
# DOCKER_HOST=unix:///run/user/1000/docker.sock

# Podman rootless on linux:
# DOCKER_HOST=unix:///run/user/1000/podman/podman.sock

# Windows Docker Desktop:
# DOCKER_HOST=npipe:////./pipe/docker_engine